<div class="container d-flex justify-content-center">
  <div class="row text-center w-100 mt-5">
    <h3 class="text-primary fw-bold mb-4">📋 To-Do List</h3>
    <form
      class="w-100 p-4 bg-light rounded-4 shadow-sm"
      style="max-width: 400px"
      (ngSubmit)="add()"
    >
      <div class="mb-3">
        <label for="taskInput" class="form-label fw-semibold text-secondary"
          >Add New Task</label
        >
        <input
          type="text"
          class="form-control rounded-3 p-2"
          id="taskInput"
          [(ngModel)]="value"
          name="task"
          placeholder="Enter your task"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100 fw-bold py-2 rounded-3 shadow-sm"
      >
        ➕ Add Task
      </button>
    </form>
  </div>
</div>
